{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
