<div id="app" data-vue="article-detail">
  <article-detail-component />
</div>

<script>
  rails.article = <%= raw @article.to_json(include: { user: { only: [:id, :name] }, comments: { include: { user: { only: [:id, :name] } } } }) %>;
</script>
